
{% extends 'layout.html' %}

{% block content%}

<!----------------------------this is the article section----------------------------->
<div class="card mx-auto" style="width:80%;">
  <img src="{{post.image.url}}" class="card-img-top" >
  <div class="card-body">
    <h1 class="card-title text-center">{{post.title}}</h1>
    <p class="card-text">{{post.body|linebreaks}}</p> 
    <p class="card-text"><small class="text-muted">{{post.date_created}}</small></p>
    
  </div>
</div>

<!----------------------------this is authour details section ----------------------------->>
<div class="card mb-4 wow fadeIn mx-auto" style="width:70%;">

  <div class="card-header font-weight-bold">
      <span>About author</span>
      <span class="pull-right">
          <a href=""><i class="fab fa-facebook-f mr-2"></i></a>
          <a href=""><i class="fab fa-twitter mr-2"></i></a>
          <a href=""><i class="fab fa-instagram mr-2"></i></a>
          <a href=""><i class="fab fa-linkedin-in mr-2"></i></a>
      </span>
  </div>

  <div class="card-body">
      <div class="media d-block d-md-flex mt-3">
          <img class="d-flex mb-3 mx-auto z-depth-1" src="https://mdbootstrap.com/img/Photos/Avatars/img (30).jpg" alt="Generic placeholder image"
              style="width: 100px;">
          <div class="media-body text-center text-md-left ml-md-3 ml-0">
              <h5 class="mt-0 font-weight-bold">{{post.author}}</h5>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
              quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
              similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
              fuga.
          </div>
      </div>
  </div>
</div>


{% endblock %}







      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>