
{% extends 'layout.html' %}

{% block content%}

<!-------This is the create article button which should place somewhere else ------->
<a class="btn btn-primary btn-lg" href="/index/form" role="button">Add an article</a>
<a class="btn btn-primary btn-lg" href="/index/userform" role="button">Add an User</a>


<!-------This is the latest article section in the home page this shows upto 10 articles ------->
<div class="card-columns mx-auto" style="width:90%;" >
  {% for i in posts %}
  <div class="card animated fadeInDownBig">
    <img class="card-img-top" src="{{ i.image.url }}" alt="Card image cap"  >
    <div class="card-body">
      <h5 class="card-title">{{i.title}}</h5>
      <p class="card-text ">{{i.description}}</p>
      <p class="card-text text-muted">by {{i.author}}</p>
      <a class="btn btn-primary" href="/index/post/{{i.id}}" role="button">Read more</a>
      <div class="card-footer">
        <small class="text-muted">{{i.date_created}}</small>
      </div>
      
    </div>
  </div>

{% endfor %}

</div>
{% endblock %}




      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
