asgiref==3.2.3
Django==3.0.2
django-crispy-forms==1.8.1
mysqlclient==1.4.6
pbr==5.4.4
Pillow==7.0.0
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
stevedore==1.31.0
virtualenv==16.7.8
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
